
section{
    
    width: 100%;
    height: 20%;
}
#container{
    background-image: url(../imagenes/vistas/dal_vila.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-family: 'Bangers', cursive;

}
 .h1{
    font-size: 150px;
    margin: auto;
    text-align: center;

}